@using NetMauiStartOnBootPoC.Services;
@inject IAppLauncherService _appLauncherService;
@page "/"

<button @onclick="Restart">Restart Application</button>

@code {

    private void Restart()
    {
        _appLauncherService.RestartApplication();
    }

    

}